a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: lightblue;
}
a:active {
    color: blue;
}

body {
    background-color: #c5c5c5;
    font:
        14px arial,
        sans-serif;
    margin: 0px;
    padding: 0px;
}

div.menu {
    background-color: #a9a9a9;
    margin: 0px;
    padding: 0px;
    width: 150px;
    font-size: 18px;
    text-align: left;
    align-content: flex-start;
}

div.menu_disabled {
    background-color: #898989;
    margin: 0px;
    padding: 0px;
    width: 150px;
    font-size: 18px;
    text-align: left;
    align-content: flex-start;
}

ul.menu {
    list-style-type: square;
    list-style-position: inside;
    color: darkblue;
    margin: 5px;
    padding: 5px;
    font:
        16px arial,
        sans-serif;
}

ul.menu li {
    padding: 5px;
}

div.menu_content {
    background-color: #c5c5c5;
    margin: 0px;
    padding: 5px;
    position: relative;
    display: block;
    border-left: 5px solid steelblue;
}

.table_partitions {
    table-layout: auto;
    width: 400px;
    margin: 20px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.table_partitions td {
    padding: 20px;
}

.table_partitions tr:nth-child(2) {
    width: 100px;
}

.table_partitions tr:nth-child(odd) {
    background-color: lightslategray;
}

.table_partitions tr:nth-child(even) {
    background-color: slategray;
}

/* this has stopped working */
.table_partitions tr:nth-child(3) {
    text-align: right;
}

.table_partitions th {
    background-color: darkslategrey;
    padding: 10px;
    color: white;
}

div.msg_error {
    /*color: white;*/
    background-color: white;
    padding: 10px;
    border-left: 10px solid #801010;
}

div.msg_warning {
    background-color: white;
    padding: 10px;
    border-left: 10px solid darkgoldenrod;
    /*color: white;
    background-color: darkgoldenrod;
    padding: 10px;*/
}

div.msg_info {
    background-color: white;
    padding: 10px;
    border-left: 10px solid #3030aa;
    /*color: white;
    background-color: #808080;
    padding: 10px;*/
}

button {
    background-color: #006a88;
    color: white;
    border: none;
    padding: 5px 10px;
    min-width: 100px;
    max-width: 140px;
    font-family: sans-serif, arial;
    font-size: 14px;
}

select.timezones {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}

select.locales {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}

select.keymaps {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}

textarea.stage_log {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    font: 10px monospace;
}

span.install_status_ready {
    color: black;
    padding: 20px;
    background-color: white;
    font: 16px monospace;
    text-align: center;
    border: 5px solid seagreen;
}

span.install_status_ready_err {
    color: white;
    padding: 20px;
    background-color: red;
    font: 16px monospace;
    text-align: center;
    border: 5px solid red;
}

span.install_status_running {
    color: black;
    padding: 20px;
    background-color: white;
    font: 16px monospace;
    text-align: center;
    border: 5px solid #998400;
}

span.install_status_fail {
    color: white;
    padding: 20px;
    background-color: red;
    font: 16px monospace;
    text-align: center;
}

span.install_status_complete {
    color: white;
    padding: 20px;
    background-color: seagreen;
    font: 16px monospace;
    text-align: center;
}

span.install_status_partial {
    color: white;
    padding: 20px;
    background-color: #998400;
    font: 16px monospace;
    text-align: center;
}

span.install_status_bootable {
    color: white;
    padding: 20px;
    background-color: #998400;
    font: 16px monospace;
    text-align: center;
}

.Wt-panel {
    border: 3px solid #888888;
    background: #eeeeee none repeat scroll 0%;
    width: 600px;
}

.Wt-panel .titlebar {
    padding: 0px 6px 3px;
    background: #888888;
    color: #ffffff;
    font-size: 10pt;
}

.Wt-panel .body {
    /* background: #FFFFFF; */
    padding: 4px 6px 4px;
    -webkit-backface-visibility: hidden; /* !flicker on Chrome */
    backface-visibility: hidden; /* warning from zed without this*/
    clear: left;
}

.Wt-collapse-button {
    display: block;
    flex: none;
    align-self: center;
    width: 16px;
    height: 16px;
    float: left;
    background-image: url(collapse.gif);
    background-repeat: no-repeat;
    background-position: right center;
    transition: transform 0.3s ease-in-out;
}

.Wt-collapsed .Wt-collapse-button {
    transform: rotate(-90deg);
}

select.packages_confirmed {
    min-width: 150px;
    font-family: sans-serif, arial;
    font-size: 12px;
}

input[type="text"] {
    min-width: 150px;
    font-family: sans-serif, arial;
    font-size: 12px;
}
