a:link {
    color: blue;
}
a:visited {
    color: blue;
}
a:hover {
    color: lightblue;
}
a:active {
    color: blue;
}

body {
    background-color: #c5c5c5;
    font:
        14px arial,
        sans-serif;
    margin: 0px;
    padding: 0px;
}

div.menu {
    background-color: #a9a9a9;
    margin: 0px;
    padding: 0px;
    width: 150px;
    font-size: 18px;
    text-align: left;
    align-content: flex-start;
    border-right: 5px solid steelblue;
}

ul.menu {
    list-style-type: square;
    list-style-position: inside;
    color: darkblue;
    margin: 5px;
    padding: 5px;
    font:
        16px arial,
        sans-serif;
}

ul.menu li {
    padding: 5px;
}

.table_partitions {
    table-layout: auto;
    width: 400px;
    margin: 20px auto;
    border-collapse: collapse;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.table_partitions td {
    padding: 20px;
}

.table_partitions tr:nth-child(2) {
    width: 100px;
}

.table_partitions tr:nth-child(odd) {
    background-color: lightslategray;
}

.table_partitions tr:nth-child(even) {
    background-color: slategray;
}

/* this has stopped working */
.table_partitions tr:nth-child(3) {
    text-align: right;
}

.table_partitions th {
    background-color: darkslategrey;
    padding: 10px;
    color: white;
}

div.msg_error {
    /*color: white;*/
    background-color: white;
    padding: 10px;
    border-left: 10px solid #801010;
}

div.msg_warning {
    background-color: white;
    padding: 10px;
    border-left: 10px solid darkgoldenrod;
    /*color: white;
    background-color: darkgoldenrod;
    padding: 10px;*/
}

div.msg_info {
    background-color: white;
    padding: 10px;
    border-left: 10px solid #3030aa;
    /*color: white;
    background-color: #808080;
    padding: 10px;*/
}

button.install {
    padding: 10px;
    font-family: sans-serif, arial;
    font-size: 14px;

    width: 150px;
}

select.timezones {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}

select.locales {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}

select.keymaps {
    height: 30px;
    width: 220px;
    font:
        14px arial,
        sans-serif;
}
