a:link {
    color: #5c58e4;
    text-decoration: none;
}
a:visited {
    color: #5c58e4;
}
a:hover {
    color: lightblue;
}
a:active {
    color: #5c58e4;
}

a.nav_back:link {
    color: white;
    text-decoration: none;
}
a.nav_back:visited {
    color: white;
}
a.nav_back:hover {
    color: lightblue;
}
a.nav_back:active {
    color: white;
}

body {
    background-color: #0c1824;
    /*background-image: url("background.jpg");*/
    font:
        14px arial,
        sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

h2 {
    border-bottom: 2px solid #193f5d;
    padding-bottom: 3px;
}

h3 {
    border-bottom: 2px solid #416c91;
    padding-bottom: 3px;
}

div.home_north {
    background-color: #152e45;
    color: white;
    height: 80px;
    /*font-size: 24px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}

span.bar_title {
    font-size: 24px;
    padding: 0px;
    margin-top: 20px;
}

span.bar_version {
    font-size: 10px;
    color: #595f6d;
    padding: 0px;
    margin: 0px;
}

div.nav_bar {
    background-color: #416c91;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type="text"] {
    min-width: 150px;
    font-family: sans-serif, arial;
    font-size: 12px;
}

input.partition_size {
    min-width: 50px;
    max-width: 50px;
}

button {
    appearance: none;
    background-color: #294c6a;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow:
        rgba(27, 31, 35, 0.04) 0 1px 0,
        rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family:
        -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 10px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    max-width: 100px;
}

button:hover {
    background-color: steelblue;
    text-decoration: none;
    transition-duration: 0s;
}

button:disabled {
    background-color: #595f6d;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: default;
}

button:active {
    background-color: steelblue;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

button:focus {
    outline: 1px transparent;
}

button:before {
    display: none;
}

button:-webkit-details-marker {
    display: none;
}

.table_partitions {
    table-layout: auto;
    width: 400px;
    border-collapse: collapse;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.table_partitions td {
    padding: 5px;
}

.table_partitions th {
    background-color: black;
    padding: 5px;
    color: white;
}

tr.partitions_parent {
    background-color: #959595;
    color: white;
    font-weight: 500;
}

tr.partition {
    background-color: #858585;
    color: white;
}

div.msg_error {
    color: #a01010;
    background-color: white;
    padding: 10px;
    border-left: 10px solid #801010;
}

div.msg_warning {
    color: #c8960b;
    background-color: white;
    padding: 10px;
    border-left: 10px solid #b8860b;
}

div.partitions_dialog_title {
    background-color: steelblue;
    border: solid steelblue;
    color: white;
    font:
        18px arial,
        sans-serif;
    margin: 0px;
    padding: 0px;
}

div.partitions_dialog_contents {
    background-color: white;
    border: solid steelblue;
    font:
        14px arial,
        sans-serif;
    margin: 0px;
    padding: 0px;
    color: black;
}

div.partitions_dialog_foot {
    background-color: #3672a4;
    /*border: solid steelblue;*/
    color: black;
    font:
        14px arial,
        sans-serif;
    margin: 0px;
    padding: 10px;
}

div.msg_info {
    color: black;
    background-color: white;
    padding: 10px;
    border-left: 10px solid #3030aa;
}

select {
    height: 20px;
    font:
        12px arial,
        sans-serif;
}

select.localise {
    height: 20px;
    width: 180px;
    font:
        12px arial,
        sans-serif;
}

select.packages_confirmed {
    font-family: sans-serif, arial;
    font-size: 12px;
}

/* Install Widget */
span.install_status_ready {
    color: white;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

span.install_status_running {
    color: white;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

span.install_status_bootable {
    color: white;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

span.install_status_fail {
    color: red;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

span.install_status_complete {
    color: seagreen;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

span.install_status_partial {
    color: #998400;
    padding: 20px;
    font: 16px monospace;
    text-align: center;
}

textarea.stage_log {
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    font: 10px monospace;
    border: 1px solid;
    background-color: #a5a5b0;
    color: black;
}

.Wt-panel {
    /*     border: 1px solid #597fdd; */
    background: #193f5d none repeat scroll 0%;
    width: auto;
    margin: 2px;
}

.Wt-panel .titlebar {
    padding: 5px 5px 3px;
    background: #193f5d;
    color: #ffffff;
    font-size: 10pt;
}

.Wt-panel .body {
    /* background: #FFFFFF; */
    padding: 4px 6px 4px;
    -webkit-backface-visibility: hidden; /* !flicker on Chrome */
    backface-visibility: hidden; /* warning from zed without this*/
    clear: left;
}

.Wt-collapse-button {
    display: block;
    flex: none;
    align-self: center;
    width: 16px;
    height: 16px;
    float: left;
    background-image: url(collapse.png);
    background-repeat: no-repeat;
    background-position: right center;
    transition: transform 0.3s ease-in-out;
}

.Wt-collapsed .Wt-collapse-button {
    transform: rotate(-90deg);
}

span.install_summary_lbl {
    /*     background-color: #193f5d; */
    padding: 8px;
    font-weight: 600;
    border-top: 1px solid #294f6d;
    border-right: 1px solid #294f6d;
}

span.install_summary_value {
    /*     background-color: #294f6d; */
    padding: 8px;
    border-top: 1px solid #294f6d;
}
